<div class="admin-product-item">
  <h3>{{name}}</h3>
  <p>Price: ${{price}}</p>
  <button class="edit-product-btn" data-product-id="{{id}}">Edit</button>
  <button class="delete-product-btn" data-product-id="{{id}}">Delete</button>
</div>
