<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Shop of Horrors</title>
    <link rel="stylesheet" href="/style.css">

    <!--<title>Home</title>-->

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        {{#if loggedIn}} <!-- If user is loggedIn -->
          <li><a href="/orders">Orders</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  
  <main>
    {{{ body }}}
  </main>

  <footer>
  <p>&copy; 2023 Company Name. All rights reserved.</p>
  </footer>
    <!-- Include your JavaScript at the bottom -->
  <script src="/js/login.js"></script>
  </body>

  <style>
    button {
        cursor: pointer;
    }
</style>
  


</html>




