<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Shop of Horrors</title>
    <link rel="stylesheet" href="/style.css">

    <!--<title>Home</title>-->

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        {{#if user}}
          <li><a href="/orders">Orders</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/api/users/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  
  <main>
    {{body}}
    <h1>Welcome to Our Online Store</h1>
    <p>Explore our wide range of products and find great deals!</p>
  </main>

  <footer>
  <p>&copy; 2023 Company Name. All rights reserved.</p>
  </footer>
    <!-- Include your JavaScript at the bottom -->
  <!-- <script src="../../server.js"></script> -->
  </body>

  <style>
    button {
        cursor: pointer;
    }
</style>
  


</html>




