 <h1>Login</h1>
  <div>
      <form action="/login" method="post" id="login-form">
        <label for="email" style="display: block">Email:
            <input type="text" id="email" name="email" required>
        </label>
        <label for="password" style="display: block">Password:
            <input type="password" id="password" name="password" required>
        </label>
        <button type="submit" class="login-btn" id="login-button" style="display: block">Login</button>
    </form>
  </div>