* {
    margin: 5;
    padding: 2;
    box-sizing: border-box;
    justify-content: center;
}

/* Style for the navigation menu */
nav {
    background-color: #1d1919;
    color: #655d5d;
    display: flex;
}

nav ul {
    list-style: none;
    display: inline; /* Display list items in a single line */
    padding: 10px 0; /* Add padding to top and bottom */
}

nav li {
    display: inline; /* Display list items in a single line */
    margin-right: 20px; /* Add spacing between list items */
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px; /* Add padding to all sides */
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Style for the product items */
.product-list li{
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Spacing between items */
    background-color: rgba(128, 128, 128, 0.3); /* Semi-transparent gray */
    padding: 20px;
    border-radius: 5px;
    flex: 1; /* Distribute space evenly among items */
    max-width: calc(33.33% - 20px); /* Three items per row with 20px spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
